html{
	font-family: verdana;
}
.buttonBar{
	text-align: center;
}


button{
	height:100px;
	width: 300px;
	border-radius: 10px;
	text-align: center;
	font-size: 25px ;
	cursor: pointer;
	display: inline;
	-webkit-user-select: none;/*make the text in this button non-highlightable*/
}

.student{
	font-size: 20px;
	display: inline;
	margin: 2px;
	height:75px;
	width: 250px;
	cursor: pointer;
	-webkit-user-select: none;/*make the text in this button non-highlightable*/
}

#buttonContainer{
	text-align: center;
}

#odds{
	text-align: center;	
	font-size:  25px;
}

#studentsContainer{
text-align: center;	
margin-top: 10px;
}

#chosenCont{
	/*background-color: red;*/
	margin-top: 16px;
	font-size: 25px;
}

#chosen{
	font-size: 50px;
	text-align: center;
	width:100%;
	height: 70px;
	margin-top:-24px;
	color: red;
}
.picked{
	font-size: 22px;
	color:red;
	text-decoration: line-through;
}

h5{
	text-align: right;
}