html{
	-webkit-user-select:none;
}

.clearBoth{
	clear:both;
}
/************************************
Saved Colors: Single and Gradient;
************************************/
#savedColorsContainer {
	width: 750px;
	height:250px;
}
#savedGradientColorsContainer {
	width:430px;
	height: 250px;
}
#savedColorsContainer, #savedGradientColorsContainer {
	float: right;
	overflow-x: auto;
	overflow-y:hidden;
	white-space: nowrap;
}
#savedColorsScrollCont, #savedGradientColorsScrollCont {
	margin-top: 25px;
	width:-webkit-max-content;
	height: 200px;
	white-space: nowrap;
}
.savedColors {
	float:left;
	height: 200px;
	width:200px;
	border: 1px solid black;
	-webkit-user-select:auto;
}
.savedColorsGradient {
	float:left;
	height:150px;
	width:150px;
}
.savedColorsGradient * {
	text-align: center;
	background-color: white;
	color: black;
	width:130px;
	height:50px;
	margin-top:50px;
	margin-left: 10px;
	-webkit-user-select:auto;
}

}
/**********************************
Single Color Sliders
***********************************/
#singleColorContainer {
	width: 500px;
	height: 300px;
}

.singleSliderCont {
	height: 300px;
	width:50px;
	float:left;
	margin-left:10px;
	text-align: center;
}

.singleSliderCont label {
	display:inline;
	text-align: center;
}

.singleSlider {
	width:250px;
	-webkit-transform:rotate(-90deg);
	position:relative;
	top:120px;
	left:-103px;
}

.singleSliderValue {
	position:relative;
	top:230px;
}

#singleColorOutputContainer {
	height:300px;
	width:300px;
	float:right;
	margin-right:5px;
	text-align: center;	
	-webkit-user-select:auto;
}

#singleColorOutput {
	height: 200px;
	width:	200px;
	border: 1px solid black;
	margin: 25px auto 0px auto;
}

.savedColorValue, #singleColorOutputValue {
	color:black;
	height:80px;
	width:190px;
	margin-top:60px;
	margin-left:3px;
	border: 2px solid black;
	background-color: white;
}
.savedColors *, #singleColorOutputValue *{
	text-align: left;
	font-size: 18px;
	margin: 11px 0px 0px 0px;
}
button {
	height:50px;
}

/******************************
Gradient Color Outputs
******************************/

#gradientsContainer {
	margin-top: 15px;
	float: left;
	width:850px;
	height:350px;
}

.red{	color:#d11;}
.green{	color:green;}
.blue{color:#2b2bc7;}

.colorGradient {
	width: 255px;
	float:left;
	/*border: 1px solid black;*/
}

#greenGrad {
	margin-left: 31px;
	margin-right: 31px;
}

.gradientCanvas {
	background-color: white;
	border: 1px solid black;
	display: inline;
}

.gradientSlider {
	margin:auto;
	width:255px;
}
.gradientSliderValue {
	text-align: center;
}

.colorGradient h4 {
	margin:0px;
	text-align: center;
}
